<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal opinions</title>
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <header id="masthead">
        <a href="/" title="Sakan Rodjanai">Sakan Rodjanai</a>
    </header>
    <main>